@font-face {
	font-family: 'Rain';
	src: url('../fonts/Rain.eot?') format('eot'), 
	     url('../fonts/Rain.woff') format('woff'), 
	     url('../fonts/Rain.ttf')  format('truetype');
	}
@font-face {
    font-family: Roboto-Bold; /* Имя шрифта */
    src: url(../fonts/Roboto-Bold.ttf);
   }
@font-face {
    font-family: Roboto-Regular; /* Имя шрифта */
    src: url(../fonts/Roboto-Regular.ttf);
   }
@font-face {
    font-family: Roboto-Medium; /* Имя шрифта */
    src: url(../fonts/Roboto-Medium.ttf);
   }
@font-face {
    font-family: Roboto-Light; /* Имя шрифта */
    src: url(../fonts/Roboto-Light.ttf);
   }
/*Основной шрифт*/
body {
	overflow-x: hidden;
}
p {
	margin-bottom: 0;
}
.rbold {
	font-family: Roboto-Bold;
}
.hr {
	margin: 0 auto;
	height: 2px;
	width: 200px;
	background-color: #f655a0;
}
.hr-gray {
	width: 100%;
	height: 2px;
	background-color: #e8e8e8;
	margin-top: 50px;
	margin-bottom: 20px;
}
/*Хедер*/
#header {
	padding-top: 20px;
	padding-bottom: 5px;
}
.logo {
	font-family: Rain;
	font-size: 72px;
	margin-top: -20px;
	display: block;
}
.logo span {
	color: #f655a0;
}
/*#header .col-md-2 {
	width: 20%;
}*/
#header .rbold {
	font-size: 20px;
	margin-top: -13px;
}
.header-phone {
	font-family: Roboto-Medium;
	font-size: 19px;
	margin-bottom: 0px;
}
.no-padd {
	padding-left: 0;
	padding-right: 0;
}
.header-city {
	font-family: Roboto-Light;
	font-size: 18px;
	margin-top: -5px;
}
.header-time {
	font-family: Roboto-Light;
	font-size: 14px;
	margin-bottom: 15px;
}
.all-cities {
	color: #000;
	text-decoration: underline;
	font-family: Roboto-Medium;
	font-size: 18px;
	margin-top: -10px;
	display: block;
	margin-top: -10px;
}
.pink-button {
	box-sizing: border-box;
	background-color: #f655a0;
	font-family: Roboto-Medium;
	font-size: 15px;
	color: #000;
	width: 100%;
	box-shadow: none;
	border: 3px solid #f655a0;
	border-radius: 5px;
}
.pink-button:hover {
	background-color: transparent;
}
#header img {
	display: inline;
	text-align: right;
	margin-right: 15px;
	margin-top: -5px;
}
.predmet {
	font-family: Roboto-Light;
	font-size: 18px;
}
.basket-summa {
	font-family: Roboto-Medium;
	font-size: 24px;
}
/*Меню-------------------------------------------------------------------------------------*/
#menu {
/*	min-height: 50px;*/
	background-image: url(../img/menu-bg.jpg);

}
.navbar-default {
	background: none;
	box-shadow: none;
	border: none;
}
.navbar {
	margin-bottom: 0;
}
.navbar .container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}
#menu li {
	font-family: Rain;
	font-size: 24px;
}
#menu li.active a {
	background-image: none;
	background-color: #f655a0;
	color: #fff;
}
#menu li a:hover {
	background-image: none;
	background-color: #f655a0;
	color: #fff;
}
#menu input[type="text"] {
	background-color: #fff;
	border-radius: 0px;
	border:1px solid #000;
	font-family: Roboto-Light;
	font-size: 14px;
}
.navbar-default .navbar-nav>li>a {
	color: #000;
}
#menu .form-group {
	position: relative;
}
#menu .form-group img {
	position: absolute;
	right: 7px;
	top: 7px;
}
.blue-text::-webkit-input-placeholder {
  color: #000;
}

.blue-text:-moz-placeholder {
  color: #000;
}

.blue-text::-moz-placeholder {
  color: #000;
}

.blue-text:-ms-input-placeholder {
  color: #000;
}
/*Слайдер----------------------------------------------------------*/
#slider {
	background: linear-gradient(to right, #fff 70%, #fff569 50%);
}
.slider-right {
/*	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);*/
	background-color: #fff569;
	position: relative;
}
.slider-right * {
/*	-webkit-transform: none;
	   -moz-transform: none;
	     -o-transform: none;*/
}

.advantages {
	margin-bottom: 15px;
	font-family: Roboto-Medium;
	font-size: 24px;
}
.advantages span {
	display: block;
	margin-top: -15px;
	margin-left: 65px;
}
.advantages img {
	margin-right: 15px;
}
.slider-right {
	padding-top: 80px;
	padding-bottom: 80px;

}
.slider-right * {

}
.ttu {
	text-transform: uppercase;
}
#slider .ttu:nth-child(1) {
	font-size: 54px;
	font-family: Rain;
	color: #000;
}
#slider .ttu:nth-child(2) {
	font-size: 108px;
	font-family: Rain;
	color: #000;
	margin-top: -40px;
}
/*ПРОДУКТЫ-------------------------------------*/
#products {
	padding-top: 45px;
	padding-bottom: 45px;
}
#products p {
	font-family: Rain;
	font-size: 18px;
	text-transform: uppercase;
}
.second-line {
	margin-top: 20px;
}
/*ПРОДАЖА-------------------------------------*/
#prodaja {
	text-transform: uppercase;
	font-size: 48px;
	font-family: Rain;
	padding-top: 20px;
	padding-bottom: 20px;
}
#prodaja p:nth-child(2) {
	margin-top: -20px;
}
/*ДОБРЫЙ ДЕНЬ---------------------------------*/
#dobry {
	padding-top: 35px;
	padding-bottom: 55px;
}
#dobry .text-center {
	font-size: 24px;
	font-family: Rain;
	text-transform: uppercase;
}
#dobry .text-left {
	font-family: Roboto-Light;
	font-size: 16px;
	margin-top: 10px;
}
.see-cities {
	display: inherit;
	font-size: 16px;
	font-family: Roboto-Regular;
	text-decoration: underline;
	color: #f655a0;
}
.see-cities:hover {
	text-decoration: none;
	color: #f655a0;
}
#dobry .see-catalog {
	display: inline;
	color: #f655a0;
	font-family: Roboto-Medium; 
	font-size: 18px;
	text-transform: none;
	background-color: #000;
	padding: 10px 15px;
	border-radius: 3px;
}
/*ПОПУЛЯРНОЕ-----------------------------------*/
#popular {
	padding-top: 35px;
	padding-bottom: 35px;
}
#popular .text-center {
	font-family: Rain;
	font-size: 18px;
	text-transform: uppercase;
}
#popular .text-center:nth-child(1) {
	font-family: Rain;
	font-size: 48px;
}
#popular .col-md-3 {
	
}
#popular .col-md-3 div, .catalog-list .col-md-3 div {
	padding-bottom: 25px;
	padding-top: 25px;
	border:1px solid #e3e3e3;
}
#popular .col-md-3 img, .catalog-list .col-md-3 img {
	margin: 0 auto;
}
.popular-pink {
	box-sizing: border-box;
	color: #000;
	background-color: transparent;
	border: 1px solid #e3e3e3;
	font-family: Roboto-Medium;
	font-size: 14px;
	padding: 15px 50px;
}
.popular-pink:hover {
	background-color: #f655a0;
}
/*Наша----------------------------------------------*/
#nasha {
	font-family: Rain;
	font-size: 48px;
	padding-top: 35px;
	padding-bottom: 35px;
	text-transform: uppercase;
}
#nasha p:nth-child(2) {
	margin-top: -20px;
}
/*Компания Абсолют-----------------------------------*/
#absolut {
	padding-top: 35px;
	padding-bottom: 35px;
}
#absolut .text-center {
	font-family: Rain;
	font-size: 24px;
	text-transform: uppercase;
}
#absolut .text-justify {
	margin-top: 20px;
	font-family: Roboto-Regular;
	font-size: 16px;
}
#absolut .gray {
	padding: 35px 50px;
	background-color: #f3f2f2;
	font-family: Roboto-Regular;
	font-size: 16px;
}
#absolut .gray b {
	font-family: Roboto-Bold;
}
/*Заказ----------------------------------------------*/
#zakaz {
	padding-top: 40px;
	padding-bottom: 40px;
}
#zakaz img {
	margin: 0 auto;
}
#zakaz .col-md-8 {
	padding-top: 30px;
}
#zakaz p.text-center {
	font-family: Rain;
	font-size: 48px;
	text-transform: uppercase;
}
#zakaz label {
	font-family: Roboto-Regular;
	font-size: 16px;
}
#zakaz label span {
	color: #f655a0;
}
#zakaz input {
	height: 40px;
	border-radius: 3px;
	border:1px solid #e3e3e3;
}
#zakaz input[type="text"] {
	width: 100%;
	margin-right: 20px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Roboto-Regular;
}
.p40 {
	padding-right: 20px;
}
/*label[for="checking"] {
	position: relative;
}
#checking {
	display: none;
}
label[for="checking"]:before {
	content: "";
	width: 40px;
	height: 40px;
	display: inline-block;
	border: 1px solid #e3e3e3;
	vertical-align: middle;
}
#checking:checked + label[for="checking"]:after {
	content: "";
	width: 40px;
	height: 40px;
	display: inline-block;
	background: black;
	vertical-align: middle;
	position: absolute;
	left: 2px;
	top: 2px;
	background:url(../img/check.png);
	-webkit-background-size: cover;
	background-size: cover;
}*/
#zakaz-send {
	box-sizing: border-box;
	color: #000;
	background-color:#f655a0;
	border: 1px solid #f655a0;
	font-family: Roboto-Medium;
	font-size: 14px;
	padding: 15px 50px;
	position: absolute;
	right: 15px;
	bottom: 0;
	border-radius: 3px;
}
/*Футер----------------------------------------------*/
.sitemap p {
	font-family: Roboto-Medium;
	font-size: 16px;
	margin-bottom: 15px;
}
.sitemap img {
	margin-right: 15px;
}
.sitemap a {
	color: #000;
	font-family: Roboto-Regular;
}
.sitemap li {
	margin-bottom: 14px;
}
.footer-mylo {
	font-family: Roboto-Light;
	font-size: 18px;
}
.footer-mylo a {
	font-family: Roboto-Medium;
	color: #000;
}
.footer-info .col-md-6 {
	padding-left: 0;
	padding-right: 0;
}
.footer-phone {
	font-family: Roboto-Medium;
	font-size: 24px;
}
.footer-city {
	font-family: Roboto-Light;
	font-size: 18px;
}
.footer-time {
	font-family: Roboto-Light;
	font-size: 14px;
}
p.footer-copyright {
	font-family: Roboto-Light;
	font-size: 18px;
}
/*Картинка------------------------------------*/
#picture {
	padding-left: 0;
	padding-right: 0;
}

/*СТРАНИЦА ТОВАР---------------------------------------------------------------------------------------------------------------------*/
/*Центральный блок----------------------------*/
.center {
	padding-top: 15px;
}
.way-line {
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-right: -15px;
}
.way {
	font-family: Roboto-Regular;
	font-size: 14px;
	padding: 10px 15px;
	background-color: #f4f4f4;
	color: #000;
	overflow: hidden;
    position: relative;
	transform: skewX(-10deg);
	transform-origin: 0 100%;
	display: inline-block;
}
.way:hover {
	color: #000;
}
.way span {
	display: block;
	position: relative;
	left:50%;
    height: 100%;
	transform: translate(-50%, 0) skewX(10deg);
}
.way-last {
	color: #fff;
	background-color: #f655a0;
	overflow: hidden;
    position: relative;
	transform: skewX(-10deg);
	transform-origin: 0 100%;
	display: inline-block;
}
.way-last span {
	display: block;
	position: relative;
	left:50%;
    height: 100%;
	transform: translate(-50%, 0) skewX(10deg);
}
.way-last:hover {
	color: #fff;
}
.main-photo {
	width: 100%;
	border-radius: 3px;
	border: 1px solid #e3e3e3;
}
.main-photo img {
	margin: 0 auto;
}
#photo-selector {
	margin-left: -25px;
	margin-right: -25px;
}
#photo-selector .col-md-4 {
	padding: 10px;
	cursor: pointer;
}
#photo-selector .col-md-4 div {
	border: 1px solid #e3e3e3;
	border-radius: 3px;
}
.glav-photo {
	border-radius: 3px;
	border: 1px solid #e3e3e3;
}
.name-of-product {
	font-size: 48px;
	font-family: Rain;
	text-transform: uppercase;
	line-height: 1;
}
.main-table tr {
	background-color: #f4f4f4;
	font-family: Roboto-Regular;
	font-size: 16px;
}
.main-table tr:nth-child(2n) {
	background-color: #fafafa;
}
.table-zagolovok {
	font-family: Roboto-Bold;
	font-size: 24px;
	background-color: #f4f4f4;
	padding: 10px;
}
.left-td {
	font-family: Roboto-Bold;
	font-size: 16px;
}
.main-table td {
	padding: 10px;
}
#kol-vo {
	width: 95px;
	height: 55px;
	font-family: Roboto-Medium;
	font-size: 19px;
	margin-right: 57px;
	border:1px solid #e3e3e3;
	padding-left: 10px;
	padding-right: 10px;
}
#plus, #minus, #plus-left, #plus-right, #minus-left, #minus-right {
	width: 50px;
	height: 25px;
	position: absolute;
	font-family: Roboto-Medium;
	font-size: 19px;
	vertical-align: middle;
	left:100px;
	border:1px solid #e3e3e3;
	background: none;
	line-height: 10px;
}
#plus:hover, #minus:hover, #plus-left:hover, #plus-right:hover, #minus-left:hover, #minus-right:hover {
	background-color: #f655a0;
	border:1px solid #f655a0;
}
#minus, #minus-left, #minus-right {
	top:30px;
}
#zakazat-tovar {
	width: 270px;
	height: 55px;
	text-transform: uppercase;
	font-family: Roboto-Medium;
	font-size: 19px;
	border:2px solid #a5a5a5;
	background:none;
	border-radius: 3px;
}
#zakazat-tovar:hover {
	background-color: #f655a0;
	border:3px solid #f655a0;
}
.tovar-nadpis {
	font-family: Roboto-Regular;
	font-size: 16px;
	background-color: #fafafa;
	color: #000;
	padding: 20px;
}
/*Вы можете заказать---------------------*/
#you-can-offer {
	padding-top: 35px;
	padding-bottom: 65px;
}
#you-can-offer .col-md-3 {
	height: 250px;
}
#you-can-offer .text-center {
	font-family: Rain;
	font-size: 48px;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.you-can-offer-img {
	border-radius:3px;
	border:1px solid #e3e3e3;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}
.you-can-offer-img img {
	margin: auto;
}
.you-can-offer-text p {
	margin-top: 15px;
	font-family: Roboto-Medium;
	font-size: 18px;
	text-transform: uppercase;
}
/*А еще мы можем---------------------*/
#wealsocan {
	background-image: url(../img/pink-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	font-family: Rain;
	font-size: 24px;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	text-transform: uppercase;
}
#wealsocan img {
	margin-left: 15px;
}
/*СТРАНИЦА КАТАЛОГ==================================================================================*/
.dropdown-menu li a {
	font-family: Roboto-Regular;
	font-size: 16px;
	background-color: #fff !important;
	color: #000 !important;
	padding-top: 5px;
	padding-bottom: 5px;
	border-left: 4px solid #f4f4f4;
	border-top:2px solid #f4f4f4;
	border-bottom:2px solid #f4f4f4;
	border-right:8px solid #f4f4f4;
}
.dropdown-menu li a:hover {
	font-family: Roboto-Regular;
	border-left: 4px solid #f655a0;
	border-top:2px solid #f655a0;
	border-bottom:2px solid #f655a0;
	border-right:8px solid #f655a0;
}

.dropdown-menu {
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 0;
	border:none; 
	z-index: 99999999999999999;
}
.dropdown-menu li {
	border-left: 2px #f4f4f4;
}
#brands .text-center:nth-child(1) {
	font-family: Rain;
	font-size: 48px;
}
.brands-row .col-md-2 {
	width: 20%;
} 
.brands-row .col-md-2 img {
	margin: 0 auto;
} 
select {
  width: 100%;
  height: 32px;
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  -webkit-appearance: none;
  background-image: url('../img/down.jpg');
  background-position: 95% center;
  background-repeat: no-repeat;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
}
 
select::-ms-expand {
  display: none;
}
.panel-upravleniya {
	font-family: Roboto-Regular;
	font-size: 16px;
	background: url(../img/menu-bg.jpg);
	padding: 20px;
	margin-left: 0;
	margin-right: 0;
}
.panel-upravleniya input {
	width: 95px;
	height: 32px;
}
.kartridj {
	width: 32px;
	height: 32px;
	background-color: #000;
	display: inline-block;
	cursor: pointer;
}
.sortirovka {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	background: url(../img/menu-bg.jpg);
	font-family: Roboto-Regular;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
}
.sortirovka button {
	margin-left: 20px;
	background: none;
    box-shadow: none;
    border: none;
}
.show-by span {
	margin-left: 15px;
	cursor: pointer;
}
.show-by span.active {
	font-family: Roboto-Medium;
	text-decoration: underline;
}
.catalog-list p.text-center {
	font-family: Roboto-Medium;
	font-size: 18px;
}
.catalog-list p.text-center button {
	text-transform: uppercase;
}
#popular .another-font {
	font-family: Roboto-Medium;
	font-size: 18px;
	text-transform: none;
}
#popular .another-button {
	text-transform: uppercase;
}
#text-part {
	font-family: Roboto-Regular;
	font-size: 16px;
	padding-bottom: 40px;
}
#text-part p {
	margin-top: 10px;
}
/*Поворот на главной*/
.slider-left {
	overflow: hidden;
    position: relative;
	transform: skewX(-10deg);
	transform-origin: 0 100%;
	background: #fff;
	z-index: 99;
}
.slider-left * {
	display: block;
	position: relative;
	left:50%;
    height: 100%;
	transform: translate(-50%, 0) skewX(10deg);
}
.polosa {
	width: 44%;
	height: 2px;
	background-color: #e8e8e8;
	margin-left: -15px;
	position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
}
.polosa-verh {
	width: 51.2%;
	height: 2px;
	background-color: #e8e8e8;
	margin-left: -15px;
	position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
/*Карусель*/
.carousel .col-md-7 {
	position: relative;
}
.carousel-right-strelka {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -42px;
	cursor: pointer;
}
.carousel-left-strelka {
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -42px;
	cursor: pointer;
	z-index: 9999999;
}
.carousel .container {
	position: relative;
}
/*------------------------------------------------------------------*/

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:40px;
    height:40px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    background: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/check.png) center no-repeat;
}
