/*Подключение шрифтов*/
@font-face {
	font-family: 'Open Sans Condensed';
	src: url('../fonts/Rain.eot?') format('eot'), 
	     url('../fonts/Rain.woff') format('woff'), 
	     url('../fonts/OpenSansCondensed-Light.ttf')  format('truetype');
	}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=cyrillic,cyrillic-ext');*/
/*Основной шрифт*/
body {
	overflow-x: hidden;
	font-family: Roboto;
	color: #333333;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: #333333;
}
#ekran1, #ekran2, #ekran3, #ekran4, #ekran5, #ekran6, #ekran7, #ekran8, #ekran9 {
	height: 100vh;
}
.container-fluid {
	padding-left: 0;	
	padding-right: 0;	
}
p {
	margin: 0;
}
.container {
	width: 100%;
	}
/*Боковое меню---------------------------------------------*/
.pushy-open-right .pushy-right {
	width: 400px;
	background-color: #fff;
}
.pushy-content {
	position: relative;
	padding-top: 50px;
}
.pushy-right img {
	display: block;
	margin: 0 auto;
	max-width: 211px;
	margin-bottom: 30px;
}
#pushy-menu {
	margin-right: 95px;
	text-align: right;
}
#pushy-menu p {
	margin-bottom: 17px;
	font-weight: 500;
	font-size: 16px;
}
.pushy a {
	color: #333333;
	padding: 0;
	transition: 0.3s;
}
.pushy a:hover {
	color: #3D9FBC;
	transition: 0.3s;
}
.pushy-closing {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 18px;
	height: 18px;
	cursor: pointer;
}
/*точки----------------------------------------------------*/
#fp-nav ul li a span {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.5);
}
#fp-nav ul li:hover a span, #fp-nav ul li a.active span {
	width: 10px;
	height: 10px;
	background-color: transparent !important;
	border:1px solid rgba(255,255,255,0.5);
	border-radius: 50%; 
	margin-left: -4.5px;
}
/*1 экран--------------------------------------------------*/
#ekran1 {
	background-image: url(../img/bg-clouds.png);
	background-position: top center;
	background-repeat: no-repeat;
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	display: -webkit-flex;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #fff;
	line-height: 1.5;
	font-size: 16px;
}
.ekran1-footer, .ekran1-footer-mountain {	
	width: 100%;
	position: absolute;	
	bottom: 0;	
	z-index: 1000;
}
.ekran1-footer-mountain {
	z-index: 500;
}
.bg-mounts {
	
}
.logo-ekran1 {
	width: 48%;
	position: absolute;	
	bottom: 0;	
	left: 26%;	
	z-index: 750;
}
.menu-button {
	position: fixed;
	top:30px;
	right: 30px;
	padding-right: 45px;
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    line-height: 1.5;
    font-size: 16px;
    z-index: 1500;
}
.bar {
	width: 34px;
	height: 4px;
	background-color: #fff;
}
.button {
	display: block;
    position: absolute;
    right: 0;
    top: 0;
} 
.menu-button .bar:nth-child(2) {
	margin-top: 5px;
}
.menu-button .bar:nth-child(3) {
	margin-top: 5px;
}
.deviz {
	font-size: 31px;
	font-family: Roboto;
	font-weight: 300;
	position: absolute;
	text-align: center;
	bottom: 70px;
	z-index: 3000;
	left:50%;
	margin-left: -300px;
	color: #fff;
}
/*2 экран-----------------------------------------*/
#ekran2 {
	height: 100vh;
	padding-left: 7%;
	padding-right: 7%;
	position: relative;
	padding-top: 10px;
}
#ekran2 .col-md-4 {
	padding: 10px;
}
#ekran2 .col-md-4 div {
	border-radius: 2px;
	border: 1px solid #D2D6D9;
	padding-top: 10px;
	padding-bottom: 10px;
}
#ekran2 h3 {
	font-size: 30px;
	font-family: Roboto;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}
#ekran2 p {
	font-size: 14px;
	font-family: Roboto;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 10px;
}
#ekran2 button, #ekran3 button {
	margin: 0 auto;
	display: block;
	background-color: #66C8E5;
	border: none;
	border-radius: 3px;
	width: 170px;
	height: 34px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	line-height: 1.5;
	letter-spacing: 0.05em;
	transition: 0.4s;
}
#ekran2 button:hover, #ekran3 button:hover {
	background-color: #66B2C8;
	transition: 0.4s;
}
#ekran2 img {
	width: 75px;
	margin: 0 auto;
}
#ekran2 .ekran3-zagolovok {
	font-size: 16px;
	text-align: center;
	font-weight: 400;
}

/*3 экран--------------------------------------------------*/
.sdvig {
	margin-left: 45px;
}
#ekran3 {
	height: 100vh;
	background-image: url(../img/3-bg.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-family: 'Roboto';
	padding-left: 100px;
	padding-right: 100px;
}
#ekran3 h2 {
	font-weight: bold;
	font-size: 46px;
	color: #fff;
}
#ekran3 p {
	padding-left: 8%;
	padding-right: 8%;
	font-size: 20px;
}
#ekran3 .number {
	font-size: 41px;
	font-weight: bold;
	position: absolute;
}
#ekran3 .col-md-3 {
	position: relative;
}
#ekran3 .verh {
	left: 70px;
	position: absolute;
	font-size: 16px;
	top: 8px;
}
#ekran3 .niz {
	left: 70px;
	top: 27px;
	position: absolute;
	font-size: 16px;
}
#ekran3 .verh1 {
	left: 50px;
}
#ekran3 .niz1 {
	left: 50px;
}
#ekran3 .col-md-3 img {
	position: absolute;
    left: 30px;
    top: -12px;
}
.glavtext {
	margin-bottom: 35px;
}
.ourface {
	margin-top: 100px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-radius: 2px;
	padding-bottom: 15px;
	position: relative;
	padding-top: 30px;
}
.ourface-lt {
	position: absolute;
	left: 0;
	top: 0;
	width: 20%;
	height: 1px;
	background-color: #fff;
}
.ourface-rt {
	position: absolute;
	right: 0;
	top: 0;
	width: 20%;
	height: 1px;
	background-color: #fff;
}
.ourface h4 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 1.6;
	margin: 0 auto;
	margin-top: -22px;
    position: absolute;
    left: 50%;
    margin-left: -90px;
    top: 0;
    color: #fff;
}
.ourface img {
	margin: 0 auto;
	width: 26px;
	display: block;
}
#ekran3 .hr {
	width: 69px;
	height: 1px;
	background-color: #fff;
	margin: 5px auto;
}
#ekran3 .col-md-4 p {
	font-size: 14px;
}
#ekran3 button {
	position: absolute;
	bottom: 15px;
	left:50%;
	margin-left: -80px;
}
#ekran3 .col-md-4 .zagolovok-ourface {
	font-size: 20px;
	font-weight: 300;
}
#ekran3 .container {
	width: 100%;
}
/*4 экран----------------------------------------*/
#ekran4 {
	padding-left: 130px;
	padding-right: 130px;
	padding-top: 20px;
	position: relative;
}
.jcarousel li img {
    margin-bottom: 6px;
    margin-right: 5px;
    display: block;
    padding-right: 4px;
}
.jcarousel-wrapper {
	border: none;
	box-shadow: none;
}
.jcarousel-control-next {
	position: absolute;
	right: 0;
	top: 50%;
	width: 93px;
	height: 150px;
	background-image: url(../img/right.png);
	opacity: 0.3;
	background-color: transparent;
	margin-top: -100px;
	border-radius: 0;
}
.jcarousel-control-prev {
	position: absolute;
	left: 0;
	top: 50%;
	width: 93px;
	height: 150px;
	background-image: url(../img/left.png);
	opacity: 0.3;
	background-color: transparent;
	margin-top: -75px;
	border-radius: 0;
}
.jcarousel-control-prev:hover, .jcarousel-control-next:hover {
	opacity: 0.8;
	transition: 0.4s;
}
#ekran4 h3, #ekran6 h3 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 30px;
	font-family: 'Roboto';
	text-align: center;
}
/*5 экран----------------------------------------------*/
#ekran5 {
	background-image: url(../img/ekran5/bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	padding-top: 25px;
	font-family: 'Roboto';
	color: #fff;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}
#ekran5 h3 {
	font-size: 30px;
	font-weight: 300;
	line-height: 37px;
	color: #fff;
}
.topp {
	font-size: 20px;
	font-weight: 300;
}
#ekran5 .row {
	margin-top: 50px;
}
#ekran5 .hr {
	width: 60px;
	background-color: #fff;
	height: 2px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 25px;
}
.komfortno {
	width: 75%;
	margin: 0 auto;
	margin-top: 35px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 32px;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}
.komfortno img {
	max-width: 60px;
	display: block;
	margin: 0 auto;
}
.lt, .lb, .rb, .rt {
	position: absolute;
	width: 30px;
	height: 30px;
}
.lt {
	left: 0;
	top: 0;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
}
.lb	{
	left: 0;
	bottom: 0;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.rt {
	right: 0;
	top: 0;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;	
}
.rb {
	right: 0;
	bottom: 0;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;	
}
.zadacha {
	font-size: 22px;
	font-weight: 300;
	margin-top: 30px;
}
/*6 экран-----------------------------------------------*/
#ekran6 {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 20px;
	height: 100vh;
	padding-top: 30px;
}
#ekran6 h3 {
	margin-bottom: 20px;
}
/*#ekran6 .right-gradient {
	position: absolute;
	height: 100vh;
	width: 50%;
	background: -webkit-linear-gradient(left, transparent 1%, rgba(255,255,255,0.8));
	background: -o-linear-gradient(left, transparent 1%, rgba(255,255,255,0.8));
	background: linear-gradient(to right, transparent 1%, rgba(255,255,255,0.8));
	right: 0;
	top: 0;
	z-index: 20;
}*/
.img {
	position: relative;
}
.play-button {
	width: 66px;
	height: 66px;
	left: 50%;
	margin-left: -33px;
	top: 50%;
	margin-top: -33px;
	background-image: url(../img/play.svg);
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
}
.play-button:hover {
	background-image: url(../img/play-hover.svg);
	cursor: pointer;
}
.firma {
	position: absolute;
	top: 20px;
	left: 20px;
	font-weight: 400;
}
#ekran6 .jcarousel {
	color: #fff;
}
.direktor {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-weight: 400;
}
/*7 экран-----------------------------------------------*/
#ekran7 {
	background-image: url(../img/ekran7/bg.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
	color: #fff;
}
#ekran7 h3 {
	font-size: 34px;
	position: absolute;
	top:20%;
	text-align: center;
	left:50%;
	margin-left: -195px;
	font-weight: 400;
	color: #fff;
}
#ekran7 .ostavte {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	position: absolute;
	width: 70%;
	height: 20%;
	top:50%;
	left: 15%;
}
.ostavte span:nth-child(1) {
	margin-left: -222px;
    left: 50%;
    position: absolute;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 300;
    top: -14px;
}
.ostavte input[type="text"] {
	height: 33%;
	position: absolute;
	top:33%;
	width: 30%;
	left: 6%;
	background-color: transparent;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff;
	box-shadow: none;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 300;
	border-radius: 1px;
}
.ostavte input[type="text"]:active, .ostavte input[type="text"]:hover, .ostavte input[type="text"]:focus {
    outline: 1px solid #32B0C2;
    outline-offset: 0;
    border-bottom: none;
}
.ostavte input[type="text"]::-webkit-input-placeholder {
	color:#fff;
	font-size: 20px;
	font-weight: 300;
}
.ostavte input[type="text"]::-moz-placeholder {
	color:#fff;
	font-size: 20px;
	font-weight: 300;
}
/* Firefox 19+ */
.ostavte input[type="text"]:-moz-placeholder {
	color:#fff;
	font-size: 20px;
	font-weight: 300;
}
/* Firefox 18- */
.ostavte input[type="text"]:-ms-input-placeholder {
	color:#fff;
	font-size: 20px;
	font-weight: 300;
}
.ostavte input[type="text"]:nth-child(2) {
	left: 40%;
}
.ostavte button {
	width: 17%;
	height: 33%;
	position: absolute;
	right: 5%;
	top: 33%;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 16px;
	background-color: #66C8E5;
	border: none;
	box-shadow: none;
	letter-spacing: 0.05em;
}
.ostavte button:hover {
	background-color: #63B5CE;
}
.ostavte-lefttop {
	width: 20%;
	position: absolute;
	left: 0;
	top: 0;
	height: 1px;
	background-color: #fff;
}
.obrabotka {
	position: absolute;
	bottom: -50px;
	left: 50%;
	margin-left: -220px;
}
.ostavte-righttop {
	width: 20%;
	position: absolute;
	right: 0;
	top: 0;
	height: 1px;
	background-color: #fff;
}
.ostavte label {
	font-weight: 400;
	font-size: 14px;
	margin-left: 20px;
}
/* Скрываем реальный чекбокс */
.checkbox {
    display: none;
}
 
/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
    position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    width: 14px;             /* Обязательно задаем ширину */
    height: 14px;            /* Обязательно задаем высоту */
    border: 1px solid #fff;
    border-radius: 0px;
}
 
/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}
 
/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
    content: "";             /* Добавляем наш псевдоэлемент */
    display: block;          /* Делаем его блочным элементом */
    position: absolute;      /* Позиционируем его абсолютным образом */
 
    /* Задаем расстояние от верхней, правой, нижней и левой границы */
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
 
    background-image: url(../img/galochka.png); 
    -webkit-background-size: cover;
        background-size: cover;    /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
    border-radius: 2px;
}
.obrabotka .label {
	font-size: 14px;
	font-weight: 400;
}
/*8 экран----------------------------------------------*/
#ekran8 {
	height: 100vh;
	background-image: url(../img/ekran8/bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	color: #fff;
	padding-left: 7%;
	padding-right: 7%;
	padding-top: 30px;

}
#ekran8 h3 {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
	color: #fff;
}
#ekran8 p {
	font-size: 13px;
}
#ekran8 .etapy-zagolovok {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 15px;
}
.etapy-podrobnee {
	background-color: #66B2C8;
	margin-top: 10px;
	width: 170px;
	height: 34px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
}
.sposoby-oplaty {
	width: 100%;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	position: relative;
	
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80%;
	margin: 0 auto;
	margin-top: 40px;
}
.sposoby-lt, .sposoby-rt {
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 1px;
	background-color: #fff;
}
.sposoby-rt {
	right: 0;
	left: auto;
}
.sposoby-oplaty img {
	display: block;
	margin: 0 auto;
	max-width: 30px;
}
#ekran8 .sposoby-oplaty p {
	font-weight: 400;
	font-size: 16px;
}
#ekran8 p.sposoby-zagolovok {
	font-size: 30px;
	font-weight: 300;
	position: absolute;
	left: 50%;
	top: -20px;
	margin-left: -140px;
}
#ekran8 .row p {
	font-size: 14px;
	font-weight: 400;
	color: #F2F2F2;
}
#ekran8 .row p.zagolovok-strategy {
	font-size: 20px;
	font-weight: 300;
}
#ekran8 .row img {
	width: 40px;
	display: block;
	margin: 0 auto;
}
#ekran8 .row .hr {
	margin: 10px auto;
	width: 50px;
	height: 1px;
	background-color: #fff;
}
/*Новый экран----------------------------------------*/
#ekran-new {
	height: 100vh;
	background-image: url(../img/ekran-new/bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	color: #fff;
	padding-left: 7%;
	padding-right: 7%;
	padding-top: 4%;
}
#ekran-new h3 {
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	color: #fff;
}
#ekran-new .row img {
	width: 50px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
.borderr {
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	position: relative;
	padding-top: 60px;
	padding-bottom: 33px;
}
.borderr p {
	font-size: 20px;
	font-weight: 300;
}
.borderr-left, .borderr-right {
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 1px;
	background-color: #fff;
}
.borderr-right {
	left: auto;
	right: 0;
}
#ekran-new h3:nth-child(1) {
	margin-bottom: -20px;
}
.sposoby-newblock .hr {
	width: 50px;
	margin: 10px auto;
	height: 1px;
	background-color: #fff;
}
#ekran-new .sposoby-newblock img {
	width: 40px;
}
#ekran-new .sposoby-new-zagolovok {
	font-size: 20px;
	font-weight: 300;
	text-align: center;
}
.spospo {
	margin-top: 60px;
	margin-bottom: 30px;
}
/*9 экран--------------------------------------------*/
#ekran9 {
	position: relative;
	color: #fff;
}
#ekran9 h3 {
	position: absolute;
	top: 30px;
	font-weight: 400;
	font-size: 30px;
	z-index: 20;
	left: 50%;
	margin-left: -80px;
	color: #fff;
}
#map {
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: 10 !important;
}
.gmnoprint {
	display: none !important;
}
.gmnoprint.gm-style-cc {
	display: none !important;
}
#ekran9 .forma {
	position: absolute;
	width: 24%;
	right: 7%;
	min-height: 35%;
	background-color: rgba(5, 37, 48,0.7);
	z-index: 20;
	top:14%;
}
#ekran9 .main-block-forma {
	position: absolute;
	width: 86%;
	left: 7%;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	min-height: 85%;
	top: 10%;
	z-index: 20;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}
.main-block-forma span:nth-child(1) {
	position: absolute;
	font-size: 16px;
	font-weight: 300;
    left: 50%;
    top: -7px;
    margin-left: -70px;
}
.main-block-forma input[type="text"] {
	height: 30px;
	top:33%;
	left: 6%;
	background-color: transparent;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff;
	box-shadow: none;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 300;
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
.main-block-forma input[type="text"]::-webkit-input-placeholder {
	color:#fff;
}
.main-block-forma input[type="text"]::-moz-placeholder {
	color:#fff;
}
/* Firefox 19+ */
.main-block-forma input[type="text"]:-moz-placeholder {
	color:#fff;
}
/* Firefox 18- */
.main-block-forma input[type="text"]:-ms-input-placeholder {
	color:#fff;
}
.send-map {
	width: 170px;
	height: 40px;
	background-color: #63B5CE;
	font-family: 'Open Sans Condensed';
	font-weight: 300;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
}
.send-map:hover {
	background-color: #589BAF;
}
.dau {
	width: 166px;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
}
.dau .label {
	text-align: left;
    position: absolute;
    top: -2px;
    left: 15px;
    font-size: 10px;
}
.ofis {
	position: absolute;
	width: 24%;
	right: 7%;
	min-height: 35%;
	background-image: url(../img/contacts-bg.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 20;
	top:50%;
}
.ofis-nadpis {
	position: absolute;
	bottom: 0;
	background-color: rgba(9, 70, 104,0.5);
	font-size: 14px;
	font-weight: 400;
	left: 0;
	right: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10%;
	padding-right: 10%;
}
.ofis-nadpis img {
	display: inline;
    margin-right: 10px;
    max-width: 13px;
}
.ofis-nadpis a {
	color: #fff;
	text-decoration: none;
}
.ofis-nadpis a:hover, .ofis-nadpis a:focus, .ofis-nadpis a:visited {
	color: #fff;
	text-decoration: none;
}
#footer {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(5,37,48,0.7);
	z-index: 20;
	border-top: 1px solid #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
}
#footer .col-md-2 p:nth-child(1) {
	font-size: 20px;
	font-weight: 300;
}
#footer .col-md-2 p:nth-child(2) {
	font-size: 12px;
	font-weight: 300;
}
#footer .sitemap .col-md-3 {
	width: auto;
}
#footer .sitemap .col-md-3 a {
	display: block;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	font-weight: 300;
}
.sitemap {
	float: right;
	margin-top: 6px;
}
#footer img {
	max-width: 32px;
	margin-right: 10px;
	margin-top: 8px;
}
/*Кнопка вверх*/
#top {
	position: fixed;
	bottom: 30px;
	left: 30px;
	opacity: 0.2;
	z-index: 999;
	transition: 0.5s;
	cursor: pointer;
}
#top:hover {
	opacity: 0.8;
	transition: 0.5s;
}
#top img {
	width: 70px;
	height: 70px;
}