/*Стилизация мобильной версии*/
@media (max-width: 992px) {
	.logo {
		font-size: 36px;
	}
	.logo img {
		max-width: 20px;
	}
	#header .rbold {
		text-align: left;
		font-size: 15px;
		margin-top: 0px;
	}
	.predmet {
		text-align: right;
	}
	.basket-summa {
		text-align: right;
		font-size: 20px;
	}
	.display-mobile {
		display: block;
	}
	.display-desktop {
		display: none;
	}
	.equal, .equal > div[class*='col-'] {
		display: block;
		flex: none;
	}
	#menu li.active a {
		background-color: transparent;
	}
	.navbar-form {
		margin-left: 0;
		margin-right: 0;
	}
	.navbar-collapse {
		overflow-x: hidden;
	}
	.navbar-default .navbar-nav>li>a {
		padding-left: 30px;
	}
	.navbar-form {
		border-top: none;
		border-bottom: none;
	}
	#products img {
		margin: 0 auto;
	}
	#dobry .display-mobile .col-xs-6 img {
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.mt30 {
		margin-top: 30px;
	}
	.pl20 {
		padding-left: 0;
	}
	.pl20 p {
		text-align: center !important;
	}
	.see-cities {
		text-align: center;
	}
	#dobry .see-catalog {
		display: block;
	}
	#popular .col-md-3 {
		margin-bottom: 20px;
	}
	.second-line {
		margin-top: 0;
	}
	#absolut .gray {
		padding: 20px 15px;
	}
	#zakaz {
		padding-top: 0;
	}
	.p40 {
		padding-right: 0;
	}
	#zakaz label {
		font-size: 11px;
	}
	#zakaz .mt-20  {
		margin-top: -20px;
		display: block;
	}
	#zakaz-send {
		position: static;
		display: block;
		margin-top: 15px;
	}
	.footer-info {
		margin-top: 30px;
	}
	img[src="img/yellowbox.png"] {
		position: static !important;
		max-width: 100% !important;	
		margin: 0 auto;
		display: block;
	}
	.slider-left {
		display: none;
	}
	#slider .ttu:nth-child(1) {
		font-size: 33px;
	}
	#slider .ttu:nth-child(2) {
		font-size: 75px;
		margin-top: -20px;
	}
	.advantages {
		font-size: 15px;
	}
	.slider-right {
		margin-left: -15px;
	}
	.slider-right .ttu {
		text-align: center;
	}
	.polosa {
		display: none;
	}
	.polosa-verh {
		display: none;
	}
	.way {
		font-size: 12px;
	}
	.pr15 {
		padding-right: 15px;
	}
	.name-of-product {
		font-size: 30px;
	}
	#zakazat-tovar {
		margin-top: 20px;
	}
	.you-can-offer-text div {
		float: left !important;
	}
	.you-can-offer-img {
		margin-top: 20px;
	}
	#zakazat-tovar {
		width: 250px;
	}
	#brands .col-xs-6 img {
		display: block;
		margin: 0 auto;
	}
	.panel-upravleniya input {
		width: 65px;
	}
	.mt15r {
		margin-top: 15px;
	}
	.navbar-right {
		float: left !important;
		margin-left: -15px;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	#menu .container {
		padding-left: 0;
		padding-right: 0;
	}
	#menu li {
		font-size: 18px;
	}
	#menu li a {
		padding: 8px 12px;
	}
}
@media screen and (min-width: 500px) and (max-width: 992px) {
	#zakazat-tovar {
		margin-top: 30px;
	}
}
/*Стилизация десктопной версии*/
@media (min-width: 992px) {
	.display-desktop {
		display: block;
	}
	.display-mobile {
		display: none;
	}
	.equal, .equal > div[class*='col-'] {
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    flex:1 0 auto;
	}
	.pl20 {
		padding-left: 20px;
	}
}
/*Стилизация 1024*/
@media screen and (max-width: 1200px) and (min-width: 1000px) {
	.header-phone {
		font-size: 15px;
	}
	.header-city {
		font-size: 15px;
	}
	.logo {
		font-size: 57px;
	}
	.pink-button {
		font-size: 12px;
	}
	#menu li {
		font-size: 18px;
	}
	.slider-right {
		text-align: right;
	}
	.footer-phone {
		font-size: 21px;
	}
	p.footer-copyright {
		font-size: 15px;
	}
	.sitemap li {
		font-size: 12px;
	}
	.way {
		font-size: 12px;
	}
	#zakazat-tovar {
		width: 200px;
	}
	.panel-upravleniya input {
		width: 72px;
	}
	.kartridj {
		width: 29px;
		height: 29px;
	}
}