/*Стилизация мобильной версии*/
@media (max-width: 992px) {
	.display-mobile {
		display: block;
	}
	.display-desktop {
		display: none;
	}
	.equal, .equal > div[class*='col-'] {
		display: block;
		flex: none;
	}
	#line .text-right {
		text-align: center;
		padding-top: 20px;
	}
	#center-block .col-md-12 .img-left, #center-block .col-md-12 .img-right {
		float:none;
		margin-bottom: 20px;
		max-width: 100%;
	}
	#top-block {
		border: none;
	}
	#top-block .col-md-4 {
		padding-top: 0;
		padding-left: 0;
	}
	#top-block .col-md-8 {
		min-height: 250px;
	}
	#center-block .col-md-12 {
		border:none;
	}
	#sitemap a {
		margin-right: 0;
	}
	#sitemap span {
		margin-right: 0;
	}
}
/*Стилизация десктопной версии*/
@media (min-width: 992px) {
	.display-desktop {
		display: block;
	}
	.display-mobile {
		display: none;
	}
	#top-block, #top-block > div[class*='col-md-8'], #center-block {
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    flex:1 0 auto;
	}

	#center-block .col-md-12 {
		padding-left: 75px;
		padding-right: 75px;
		padding-top: 30px;
		padding-bottom: 40px;
	}
	#center-block .col-md-12 .img-left {
		float:left;
		margin-right: 10px;
		margin-bottom: 20px;
		max-width: 250px;
	}
	#center-block .col-md-12 .img-right {
		float:right;
		margin-left: 10px;
		margin-bottom: 20px;
		max-width: 250px;
	}
	#center-block-uslugi {
		border-right: 1px solid #bbbab9;
		border-left: 1px solid #bbbab9;
		padding-left: 75px;
		padding-right: 75px;
		padding-top: 30px;
	}
	hr {
		margin-left: -75px;
		margin-right: -75px;
		margin-bottom: 0;
	}
}
@media (max-width: 1200px) {
#center-block-uslugi {
	max-width: 940px;
}
}