/* CSS Document */
/*--------------------------------------body---*/
body, td, th, div, p, label, input {
	color:#000000;
	font:normal 13px/18px Tahoma, Geneva, sans-serif;
}
input, select, #contact_text {
	color:#777777;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;	
	
}
a{color:#000000; text-decoration:underline;font-weight: bold}
a:hover {
	color:#082567;
	text-decoration:none;
	
	
}

a.mainlevel{
	background:url("../images/list_marker-1.gif") no-repeat scroll 0 10px transparent;
	color:#082567;
	float:left;
	font-size:13px;
	/*font-weight: bold;*/
	line-height:25px;
	padding:0 0 0 11px;
	text-decoration:none;
}

#active_menu{
	font-weight: bold;
}

a, button, .button{ cursor:pointer;}
/*----------------------------------------------------------content---*/
/* Tooltips */
.tool-tip {
float: left;
background: #ffc;
border: 1px solid #D4D5AA;
padding: 5px;
max-width: 200px;
text-align:left;
}

.tool-title {
padding: 0;
margin: 0;
font-size: 100%;
font-weight: bold;
margin-top: -15px;
padding-top: 15px;
padding-bottom: 5px;
background: url(../../system/images/selector-arrow-1.png) no-repeat;
}

.tool-text {
font-size: 100%;
margin: 0;
}

/*sub_page*/
/* CSS Document */
.text-sub h4{ color:#000000; padding:5px 0 19px 0; font-size:16px; text-transform:capitalize;}
.text-sub p{ padding:0 0 15px 0 !important;}
.sub-indent-img{ padding:25px 0;}
.sub-indent-bottom{ display:block; padding-bottom:5px;}

.columns { width:100%; overflow:hidden; padding:20px 0 0 0;}
.column-left { width:40%; float:left;}
.column-right { width:55%; float:right;}

.columns dt{ color:#000000; font-weight:normal;}
.columns dd{ padding:5px 0 9px 0;}



.alignleft{ float:left; margin:0 15px 0 0 !important;}


/*-----------------------------article_settings-*/
.pagenavcounter{ padding:11px 0;}
h6 {font:bold 12px Arial, Helvetica, sans-serif;}

.article-decor {padding:0px 0px 12px 0px;}
#contact_text{ height:auto;  overflow:auto; margin:0px 0px 5px 0px; width:90%; font-size:12px;}

.article-separator-indent{ padding:35px 0 0 0; display:none;}
.article_separator{ height:35px; border-top:1px solid #e8e8e8; display:none;}


.column_separator{padding:0px 0px 0px 0 !important;}
.article_column {padding:0px 0px 0px 0px;}

.article_indent h3 {overflow:hidden;}
.article_indent h3 img {margin:0px 3px 0px 0px !important; 	float:left}
.contentpaneopen ul, .article-indent ul {list-style:disc; margin:0px 0px 0px 15px; }

.contentpaneopen ul li, .article-indent ul li {	padding:6px 0px 6px 0px; }
.contentdescription img {margin:0px 20px 0px 0px; }
.contentpaneopen img{margin:0 11px 0px 0px;}

.contentpaneopen h3 img{margin:18px 10px 0px 0px;}

#content .module ul{ list-style:none; margin:0;}
#container ul{ list-style:none; margin:0; }
#container ul li, #content .module ul li{ line-height:16px; padding:4px 0 7px 11px; background:url(../images/list_marker-1.gif) 0 9px no-repeat; }
#container ul li a, #content ul li a:hover, #content .module ul li a, #content .module ul li a:hover{ line-height:14px; color:#082567; font-size:12px; line-height:16px; text-decoration:none;}
#content ul li a:hover, #content .module ul li a:hover{ color:#082567; text-decoration:underline;}
#container ul li p{ line-height:14px; padding:0;}
#container ul li span{ color:#676666; font-style:italic; }




.top-line { background:url(../images/border3.gif) 0 0 repeat-x; padding:26px 0 0 0;}



.img-indent{ float:left; margin:0 6px 0 0 !important;}
.img-indent1{ margin:0 !important;}
.text3{ color:#21A8D0; font-size:13px; line-height:19px;}
.extra-title{ color:#353535; font-size:11px; text-transform:uppercase; padding:15px 0 0 0; display:block;}
.indent-top1{ margin:15px 0 0 0;}
.indent-top3{ padding:37px 0 0 0;}
.list-indent1{ padding-bottom:25px !important;}



/*---------------------------content-heading---*/
.article-indent{ padding:13px 0 0 0;}
.article-indent span.small{ line-height:15px; color:#d63c1e; font-size:11px; padding:0 0 0 0;   }
.article-indent .createdate{ line-height:15px; color:#d63c1e; font-size:11px; margin:0 0px 0px 0; padding:1px 0px 5px  0; display:block; }
.modifydate{color:#d63c1e; font-size:11px; padding:10px 0px 10px 1px; text-decoration:none !important;}


.componentheading {
	color:#000000; font-size:29px; line-height:29px; font-weight:normal; padding:17px 0 20px 31px; text-transform:capitalize;
}
#poll{padding:0 0 0 0;}
td.contentheading{ font-size:26px; padding:0 0 4px 0; color:#cccccc;  line-height:26px; font-weight:normal;}



.contentpaneopen p {padding:15px 0px 15px 0px;}


.buttonheading	{padding:0 0 6px 0px;}
.icon-indent{  padding:2px 0 0 0;}
.buttonheading img	{ padding:0; margin:1px 16px 0 0; position:relative;}
span.contentheading {
	font-weight:normal;
	display:block;
	padding:15px 0px 15px 0px;
	margin:0px 0px 15px 0px;
	
}
#component-contact .contentheading{ font-size:18px; padding-bottom:25px; color:#000000; font-weight:normal;}
/*-----------------------------------read-more---*/

.indent-more{margin:6px 0 0 0; }
div a.readon {
	background:url(../images/button2-1.gif) 0 0 no-repeat; width:84px; height:22px; color:#ffffff; font-size:12px; line-height:14px; text-transform:uppercase; text-decoration:none; display:block; text-align:center; line-height:21px; margin:22px 0 0 0;	
}
div a.readon span{ line-height:11px;}
div a.readon:hover	{ color:#FFF; text-decoration:none; background:url(../images/button_hover-1.png) 0 0 no-repeat;}

/*-----------------------------blog-more---*/

.blog_more		{padding:11px 0px 10px 31px; }
.blog_more strong { color:#000000; font-size:17px; line-height:15px; display:block;  padding:21px 21px 11px 0; font-weight:normal;}
.blog_more h2	{font-size:12px; padding:0px 0px 0px 0px;}
.blog_more ul {	margin:15px 0px 15px 0 !important;}

/*-----------------------------item-info---*/
.pagin-bottom{ padding-bottom:18px;}
.pagin-top{ padding-top:0;}


.iteminfo				{
	padding:0px 0px 6px 0px; 
	margin:0px 0px 15px 0px;
}

.createdby				{
	color:#7a7a7a; 
	display:block;
	text-transform:none;
}

div.small				{ /* Written by */
	display:block;
	color:#7a7a7a;
	font-size:11px;
	font-weight:normal;
	margin:0px 0px 0px 0px; 
	padding:0px 0px 7px 0px;
	white-space:nowrap;
	line-height:11px;
}


/*--------------------------------------------------------VM---*/
#martInfo .button {
	width:52px;
}
#martInfo h3 {
	display:block;
	width:71px;
	float:left;
	color:#666565;
	font:normal 11px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
#martInfo .moduletable {
	text-align:right;
}
.null {padding:0; margin:0 !important;}

/*-----------------------------------buttons---*/


#content .button, 
#content .validate,
#content .readmore a
				{
	background:url(../images/button_more.png) 0 0 no-repeat;
	width:79px;  
	padding:0 0 0 0; color:#fffbd6;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; 
	float:left; display:block;
	font-size:12px; 
	float:left;
	text-decoration:none;
	text-align:center;
	display:block;
	line-height:23px;
}
#content .button:hover, #content .validate:hover, #content .modal-button:hover, #content .readmore a:hover, #content div.blank a:hover{ color:#FFF !important; text-decoration:none;}
* html .button, 
* html .validate {
	display:block;
}
.wrapper-sub-title, .sub-title-wrapper{ background:#21201f; color:#FFF; padding-top:8px  !important; padding-bottom:8px  !important;}
.wrapper-sub-title a, .wrapper-sub-title a:hover, .sub-title-wrapper a{ color:#FFF}




.sub-indent-table{ text-indent:8px;}
#content .button2-left { float:left; margin-right:5px;}
#content .button2-left, .image {display:inline}
#content .button2-left a:hover,
#content .readmore a:hover,
#content div.blank a:hover	{
	color:#ff8c0a;

}
.modal-button, .readmore a, div.blank a {float:left; padding:0 0px; margin:0px 1px 0px 0px;}
#editor-xtd-buttons {padding:5px 0px 5px 0px; overflow:hidden; width:500px; float:left}


#editor-xtd-buttons .readmore {display:inline}
.blank {padding:5px 0px 0px 0px; _padding:11px 0px 11px 0px;}


#content .button, 
#content .validate,
#content .modal-button
				{
	background:url(../images/button2-1.gif) 0 0 no-repeat; 
	width:84px; height:22px; 
	color:#ffffff; font-size:12px; line-height:21px; 
	text-transform:uppercase; text-decoration:none; 
	display:block; text-align:center; 
	line-height:21px; 
	margin:0 0 0 0;
	border:none;
}
#content .button:hover, #content .validate:hover, #content div.blank a:hover, #content .readmore a:hover, #content .modal-button:hover{  color:#FFF !important; background:url(../images/button_hover-1.png) 0 0 no-repeat; }




#content .modal-button, #content div.blank a, #content .readmore a{ 
	background:url(../images/button2-1.gif) 0 0 no-repeat; 
	width:84px; height:22px; 
	color:#ffffff; font-size:11px; line-height:21px; 
	text-transform:uppercase; text-decoration:none; 
	display:block; text-align:center; 
	line-height:21px; 
	margin:0 0 0 0;
	border:none;
}

/*-----------------------------pagenav---*/
.pagin-top-border, .pagin-bottom{ text-align:center;}
.pagenav	{
	font-weight:normal
}
a.pagenav	{
	font-weight:normal;
	padding:0px 2px 0px 2px;
	margin:0px 2px 0px 0px;
	text-decoration:none;
}
a.pagenav:hover	{text-decoration:underline; }
a.pagenav:visited {	text-decoration:none; }
.pagination_nav	{font-size:12px; padding:10px 20px 0px 27px;}
.pagination_nav div	{padding:5px 0px 5px 0px; }

.pagination		{margin-top:10px}
.pagination	li	{padding:0px 5px 0px 5px;}	
.pagination_result	{padding:5px 0px 0px 0px; line-height:16px;}
.pagination span {padding:0px 10px 0px 0px;}
.pagination strong span {padding:0px 6px 0px 6px; font-weight:normal}

/*--------------------------------------result---*/
.searchArea {padding:10px; border:1px solid #bbbab9; margin:15px 0 0 0;}
.sectiontableentry0 td, .sectiontableentry1 td, .sectiontableentry2 td	{ border-bottom:none; border-bottom:1px solid #bbbab9;}
.sectiontableentry1 td, .sectiontableentry0 td, .sectiontableentry2 td 	{ padding-bottom:5px; padding-top:5px; text-indent:11px;}
.var1 {	padding:15px !important;	margin:5px 0px 5px 0px;  color:#363636; border-bottom:none;  border-bottom:1px solid #BBBAB9;}
.var1 a, .var1 p{ color:#363636;}
.var2 {	 padding:15px !important; margin:5px 0px 5px 0px;  border-bottom:none; border-bottom:1px solid #bbbab9; color:#363636;}
.var2 a, .var2 p{ color:#363636;}
.results	{padding:0px 20px 15px 29px;}
.searchintro	{padding:10px 0px 10px 30px;}
.results ol li	{padding:0px 0px 10px 0px; text-align:justify;}
.results h3{ padding-bottom:25px;}

#searchForm{ display:block; padding:0 0 0 0;}


.sectiontableheader{padding:6px 5px 6px 11px; }
#search_searchword{ margin:0 0 0 0; padding:0 0 0 5px !important; height:19px; line-height:27px; height:20px; background:none; border:1px solid #BBBAB9; color:#363636; font-size:12px;}
.indent-search-searchword{ display:block; padding:2px 11px 0 0; line-height:19px;}
/*--------------------------------------archive---*/
.archiveBlock .button {	display:inline-block; margin:0px 0px 0px 5px;}
ul#archive-list h4 a {	font-size:12px;	text-transform:none}
/*--------------------------------------poll---*/
dl.poll {padding:25px 0px 35px 0;}


	
.button-poll-left:hover, .button-poll-right:hover	{
	background:url(../images/wrapper1_button_hover-1.png) 0 0 no-repeat;
	}
	



.button-poll-left, .button-poll-right{
	background:url(../images/wrapper1_button-1.png) 0 0 no-repeat;
	padding:0 0 0 0;
	border:none;
	color:#ffffff;
	font-size:12px;
	line-height:16px !important;
	padding:0 !important;
	text-transform:uppercase;
	cursor:pointer;
	font-family:tahoma;
	margin:13px 0 4px 0;
	width:65px;
	height:22px;
	text-align:center;
}

.button-poll-right{ margin-left:25px !important;}




dl.poll dt {font-weight:bold; padding:7px 0px 0px 0px; }
.poll .question	 {color:#d63c1e;	font-size:14px;	padding:11px 0 5px 0; line-height:18px; }
.poll .poll-body		{padding:10px 0px 10px 0}
.poll-body label { line-height:14px; padding:0px 0px 0px 4px; color:#363636;}
.poll .buttons {margin:0 0px 0 0px;}

.poll .result	{background:#ffea00;}
.poll .section	{
	overflow:hidden; 
	padding:3px 0px 3px 0px;
	width:100%;
	color:#fff;
}
.poll .section2	{
	overflow:hidden; 
	padding:2px 0px 4px 0px;
	width:100%;
	color:#000;
	 color:#878989;
}
.poll .radio{float:left; width:20px;}
.poll .radio input {display:block; width:16px; height:16px; vertical-align:middle;}
.poll .var	{margin:0px 0px 0px 20px;text-align:left}
.display	{padding:0px 0px 10px 0px;}
.display select	{border:1px solid #46462f; width:100px;}
.sectiontableentry1 div, 
.sectiontableentry0 div {font-size:1px}
.td_1, .td_2 {width:5%; text-align:center;}
.td_3 {	width:90%; padding:0px 0px 0px 10px;}
.pollstableborder .question {padding:0px 0px 0px 85px;}
.pollstableborder{ margin:25px 0 0 0;}
/*--------------------------------------userforms---*/

dl.contentpane	dt {
	padding:10px 0px 20px 0px;
}
dl.contentpane	dd {
	width:100%;
	overflow:hidden;
}
dl.contentpane	div {
	vertical-align:middle
}
dl.contentpane .description {
	width:120px;
	padding:7px 0px 0px 0px;
}
dl.contentpane .input-field {
	width:160px;
	padding:2px 0px 0px 0px;
}
dl.contentpane .input-field #email{background:none repeat scroll 0 0 #2B2926;
margin:0 0 0 0; padding:0 0 0 5px !important; height:19px; line-height:27px; height:20px; background:none; border:1px solid #BBBAB9; color:#363636; font-size:12px;
}
dl.contentpane .button-field {
	width:140px;
	padding:2px 0px 0px 0px;
}

/*-------------------------------------search---*/
.search{ background:url(../images/search_bg-1.png) 9px 6px no-repeat; height:36px;}
.search .search-input{ width:209px; float:left; position:absolute;}
.search .search-button{ width:62px; float:left; position:absolute; margin:7px 0 0 195px;}
.search .inputbox	{
	border:none;
color:#000000;
font-size:12px;
line-height:16px;
margin:10px 0 0 18px !important;
padding:0 0 0 0;
width:140px;
font-family:Arial, Helvetica, sans-serif;
background:none;
}
.search .button	{ width:62px !important; height:22px  !important; margin:0 0 0 0  !important; padding:0  !important;}
.search .button:hover{ text-decoration:underline;}
span.count{  color:#d63c1e; font-size:14px;}
/*-------------------------------------search-result---*/
.search_result {padding:0px 20px 0px 0px;}	
.search_result h3	{color:#808080;  font-size:14px;}
.searchintro b, .searchintro strong, .highlight		{color:#df4724; font-weight:bold;}

/*-------------------------------------admin-form---*/

.adminform td 			{padding:0px 0px 2px 0px;}
.pagin-bottom{ padding:5px 0 15px 0;}

/*---------------------------system-error-messages--*/

.error		{margin:15px 25px 20px 31px;}
.message{ margin:0 !important;}
#system-message dt.error, dt.message {display: none; }
.error dd ul {
	background:#CE0303;
	border-bottom:3px solid #670606;
	border-top:3px solid #670606;
	color:#FFFFFF;
	margin:0 !important;
	padding:5px 0 5px 10px !important;

	
}
.error dd ul li	{
	background:none !important;
	color:#fff !important; 
	margin:0px 0px 0px 20px !important;
	padding:0 !important; 
}
/*---------------------------------------------------------------------------------boxes---*/

 
/*-------------------------------------mainmenu---*/

/*-----------------content----*/
.module_menu div{color:#fff; font-size:12px;}
.module_menu ul {list-style:none; margin:0 0 0 0 !important;}
.module_menu li	{ display:block; line-height:14px !important;  padding:6px 0 3px 0 !important; margin:0 !important;}
.module_menu li	ul {padding:11px 0px 0 16px; margin:0 0 0 0 !important;}
.module_menu li	ul li{  border:none; background:none !important;  padding:4px 0 4px 0 !important; }
.module_menu li a {
     padding:4px 0px 0 0  !important;
	 color:#000  !important;
	 display:block;
	 line-height:15px  !important;
	background:url(../images/menu_marker.png) 1px 5px no-repeat;
	text-decoration:none;
}
.module_menu li a span { font-size:14px; color:#000 !important;}
.module_menu li a:hover {
	color:#d63c1e  !important;
	padding:0 0px 0 0;
	 text-transform:none   !important;
	 text-decoration:none !important;

}
.module_menu li a:hover span {color:#d63c1e   !important;}
.module_menu li.active a {color:#d63c1e    !important; padding:0px 0px 0 22px; }

.menu li.active a
{
	
font-weight: bold;


}

/*-------------------------------------topmenu---*/

#current li a{ color:#c5f317;}

.row-top-menu ul.menu-nav {
padding:0 0 0  0 !important;
margin:0 0 0 0 !important;
zoom:0;
position:relative;
z-index:1;
}

.row-top-menu ul.menu-nav li	{
	display:block; 
	padding:0 0 0 0;
	float:left;
	margin:0 0 0 0 0;
	padding:0 0 0 0 !important;
	background:url(../images/top_menu_separator-1.gif) 0 0 no-repeat;
}
.row-top-menu ul.menu-nav li a  {
	border:none;
	text-decoration:none !important;
	float:left;
	margin:0 0 0 0;
	padding:0 0 0 0;
	display:block;
	text-transform:uppercase;
	
}
.row-top-menu ul.menu-nav li a span	{
	display:block; 
	color:#FFF;
	font-size:12px;
	line-height:17px;
	text-decoration:none;
	float:left;
	padding:10px 24px 9px 24px;
	position:relative;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	
	
}
.row-top-menu ul.menu-nav li a:hover span, .row-top-menu  ul.menu-nav li a:hover span, .row-top-menu  ul.menu-nav li.active a, .row-top-menu  ul.menu-nav li.active a span, #current li a span{ color:#FFF; text-decoration:none; background:url(../images/top_menu_hover-1.gif) 0 0 repeat-x;}

/*-------------------hover-active----*/


 



/*----------------------------------------login-form---*/
.module-login .moduleTopBg {width:100%;}
.module-login .sec {width:100%;}
.module-login .boxIndent {padding:0 0px 0 0;}
/*-------------------title----*/

/*-----------------content----*/
.login-text-1{ color:#737676; display:block; line-height:21px;}
.form-height{ height:35px; margin:0 0 0 0; background:url(../images/bg_form.png) 0 0 no-repeat;}
#form-login {padding:0px 0px 0px 15px;}
#form-login-remember {padding:10px 0px 0 0px;}
.module-login label {
	display:block;
	line-height:18px;
	padding:0px 0px 2px 0;
	width:100%;
	font-size:13px;
	
}
label.remember {
	display:inline;
	color:#645851 !important;
	margin:0 0 0 0;
	font-weight:normal;
}

.module-login p, .module-login div, label.remember {
padding:2px 0 0 0;
	color:#776e60 !important;
	line-height:18px;
	text-transform:none;
	font-size:12px;
}
.logo-title{ font-size:15px; padding-bottom:21px !important;  font-size:14px !important; display:block; line-height:35px; color:#000 !important;}
.remember{ padding:0 !important;}
#mod_login_username, #mod_login_password {margin:0px 0px 0px 0px;}

.module-login a, .module-login a:hover	{
	padding:0px 0px 0px 0px;
	margin:0;
	line-height:16px;
	font-weight:normal;
	color:#7e7b76 !important;
}
.module-login .inputbox { /* inputbox */
	color:#363636;
	font-size:11px;
	line-height:13px !important;
	padding:2px 0 2px 0;
	margin:0 0 0 0 !important;
	width:180px;
	background:none;
	border:1px solid #21201f;
}
#modlgn_username, #modlgn_passwd {float:left;}
.username label, .password label {
}

.remember {	padding:4px 0px 0px 0px;}

input.checkbox { /* checkbox */
	border:none; 
	display:block;
	margin:3px 6px 0px 0; 
	vertical-align:middle;  
	width:12px;
	height:12px;
	position:relative;
	float:left;
}



.button-login:hover, .log .button:hover{  color:#FFF!important; text-decoration:none; background:url(../images/wrapper1_button_hover-1.png) 0 0 no-repeat}
.button-login, .log .button {
	background:url(../images/wrapper1_button-1.png) 0 0 no-repeat;
	padding:0 0 0 0;
	border:none;
	color:#ffffff;
	font-size:12px;
	line-height:16px !important;
	padding:0 !important;
	text-transform:uppercase;
	cursor:pointer;
	font-family:tahoma;
	margin:23px 0 4px 0;
	width:65px;
	height:22px;
	text-align:center;
}
#inputs{ padding:3px 11px 6px 0;}
.log{ width:100%; overflow:hidden; display:block;}			  
/*---------------------------------------------------------structure---*/
#body { background:#f5f5f5}
.main 	{
	width:919px;
	position:relative;
	margin:0 auto;
	padding:0 0 0 0;
}



#logo{ display:block; margin:20px 0 0 0; position:absolute; }
#logo a{ display:block; position:relative; cursor:pointer; }

.top-border-site{ background:url(../images/top_border_site-1.gif) 0 0 repeat-x;}

.header-box{ height:109px;}

/*header-link*/
.header-link{width:545px;}
.header-link ul{ list-style:none; margin:0; padding:43px 0 0 0 !important; float:right; text-transform:uppercase;}
.header-link ul li{ display:block; float:left; padding:0 12px;}
.header-link ul li a{ color:#767676; font-size:10px; line-height:15px; text-decoration:none;}
.header-link ul li a:hover{ color:#e12504; text-decoration:none;}
/**/


.wrapper-top-menu{ background:#c32513 url(../images/wrapper_top_menu-1.gif) 0 0 repeat-x;}
.wrapper-top-menu1{ background:url(../images/wrapper_top_menu1-1.gif) bottom left repeat-x;}

/*-------------------------------------header---*/
.clear{ width:100%; overflow:hidden;}
.clear1{ clear:both;}
.br{ display:block;}
.fright{ float:right !important;}
.fleft{ float:left;}


.wrapper-top-menu .fleft{ /*width:654px;*/}
.wrapper-top-menu .fright{ width:265px; background:url(../images/bg_search-1.jpg) 0 0 no-repeat; height:36px;}



/*-------------------------------------content---*/
#content{ padding:0 0 0 0; }
#container{overflow:hidden; height:100%;  text-align:left; padding:0 0 0 0;}
#right{ float:right; text-align:left; width:266px; background:url(../images/content_border-1.gif) 0 0 repeat-y;}
.right-indent{ padding:37px 40px 0 0;}
.left-border{background:url(../images/content_border-1.gif) right 0 repeat-y;}


#left{ float:right; text-align:left; width:377px; background:url(../images/content_border-1.gif) 0 0 repeat-y;}
.left-indent{ padding:37px 10px 0 0;}

div.message{
	width: 380px;
	height: 35px;
	border: #0290cb 1px solid;
	margin: 20px 0 20px 0;
	padding: 0px 5px 0 5px;
	background-color: #ddedf4;
	line-height: 35px;
	vertical-align: center;
}

input.feedback{
	width: 250px;
	border: #aaaaaa 1px solid;
}

table.feedback td{
	height: 40px;
}


/*top-row-box*/
.top-row-box{ background:url(../images/content_border-1.gif) bottom left repeat-x; width:100%; overflow:hidden;}
.top-row-box .fleft{ width:265px;}
.top-row-box .fright{ width:654px;}
/**/

.button2{ background:url(../images/button2-1.gif) 0 0 no-repeat; width:84px; height:22px; color:#ffffff; font-size:12px; line-height:14px; text-transform:uppercase; text-decoration:none; display:block; text-align:center; line-height:21px; margin:22px 0 0 0;}
.button2:hover{ color:#FFF; background:url(../images/button_hover-1.png) 0 0 no-repeat;}



/*content-border*/
.content-indent{ padding:7px 0 0 0; *padding:4px 0 0 0;}

.content-left{ background:url(../images/content_border-1.gif) bottom left repeat-y;}
.content-right{background:url(../images/content_border-1.gif) 0 0 repeat-y;}
.content-bottom{background:url(../images/content_border-1.gif) top right repeat-y;}
/**/


/*wrapper-box*/
.wrapper-box .boxTitle h3, .article-title-text, .wrapper-box-extra .boxTitle h3{ color:#000000; font-size:26px; font-family:Trebuchet MS, Trebuchet MS1, Helvetica, sans-serif; font-weight:normal; line-height:29px;}
.wrapper-box .boxIndent{ padding:33px 0 60px 32px;}
.wrapper-box .boxTitle h3{ padding:0 0 0 32px;}
/**/

/*wrapper-box-extra*/
.wrapper-box-extra .boxTitle h3, .article-title-text, .wrapper-box-extra .boxTitle h3{ color:#000000; font-size:28px !important; font-family:Trebuchet MS, Trebuchet MS1, Helvetica, sans-serif; font-weight:normal; line-height:26px; padding:28px 0 0 29px;}
.wrapper-box-extra .boxIndent{ padding:18px 27px 30px 31px; font-family:Tahoma;}

.list-custom{ list-style:none; margin:17px 0 0 0; padding:0;}
.list-custom li{ width:100%; overflow:hidden; padding:0 0 8px 0; *padding:0 0 5px 0;}
.list-custom li a{ background:url(../images/list_marker-1.gif) 0 5px no-repeat; padding:0 0 0 11px; color:#e12504; font-size:13px; line-height:15px; text-decoration:none; float:left;}
.list-custom li a:hover{ color:#000; text-decoration:none;}
/**/


.article-title-text{ padding:0 !important;}


/*slider-content*/
.slider-text{ display:block; width:654px; height:143px; background:url(../images/slider_shadow-1.png) 0 0 repeat-x; position:absolute; margin:336px 0 0 0;}
.slider-text-indent{ padding:20px 30px 11px 33px;  display:block;}
.slider-text h3{ color:#ffffff !important; font-size:26px  !important; line-height:26px; font-weight:normal; font-family:Trebuchet MS, Trebuchet MS1, Helvetica, sans-serif; margin:0 !important;}
.slider-text .indent-top-bottom{ padding:5px 0 13px 0 !important; color:#8f8f8f ; font-size:13px; line-height:18px; font-family:Tahoma;}
.slider-button{ background:url(../images/slider_button-1.png) 0 0 no-repeat; width:84px; height:22px; color:#ffffff; font-size:12px; line-height:20px; text-align:center; text-transform:uppercase; text-decoration:none; display:block; font-family:Tahoma;}
.slider-button:hover{ color:#FFF; background:url(../images/button_hover-1.png) 0 0 no-repeat;}

/**/


/*text1*/
.text1{ padding:0 0 11px 0;}
.text1 dt a{ color:#d63c1e; text-decoration:none;}
.text1 dt a:hover{ color:#000; text-decoration:none;}
.text1 dd{ padding:0 0 25px 0;}

.link1{ background:url(../images/button2-1.gif) 0 0 no-repeat; width:84px; height:22px; text-align:center; color:#ffffff; font-size:12px; line-height:22px; display:block; text-decoration:none; text-transform:uppercase; font-family:Tahoma; margin:14px 0 0 0;}
.link1:hover{ color:#FFF; background:url(../images/button_hover-1.png) 0 0 no-repeat; }

.link2{ color:#7e7b76; display:block; float:right; font-size:13px; line-height:15px;}
.link2:hover{ color:#000;}
/**/


/*-------------------------------------footer---*/
.footerBox{ background:#bcbab6; padding:20px 0 26px 0;}
.footer-list li{ display:block; float:left; margin:0 27px 0 0;  }
.footer-list li a{ display:block; height:84px; width:189px;}
.footer-list .bg-1{ background:url(../images/footer_img1-1.jpg) 0 0 no-repeat;}
.footer-list .bg-1:hover{ background:url(../images/footer_img1_hov-1.jpg) 0 0 no-repeat;}
.footer-list .bg-2{ background:url(../images/footer_img2-1.jpg) 0 0 no-repeat;}
.footer-list .bg-2:hover{ background:url(../images/footer_img2_hov-1.jpg) 0 0 no-repeat;}
.footer-list .bg-3{ background:url(../images/footer_img3-1.jpg) 0 0 no-repeat;}
.footer-list .bg-3:hover{ background:url(../images/footer_img3_hov-1.jpg) 0 0 no-repeat;}
.footer-list .bg-4{ background:url(../images/footer_img4-1.jpg) 0 0 no-repeat;}
.footer-list .bg-4:hover{ background:url(../images/footer_img4_hov-1.jpg) 0 0 no-repeat;}


.footer{ padding:22px 0; color:#363636; font-size:13px;}
.footer a{ color:#7e7b76 !important;}
.footer a:hover{ color:#7e7b76;}

.indent-box-top{ margin:18px 0 0 0 !important;}
.indent-img{ float:left; margin:0 19px 0 0 !important;}
.extra-link{ width:100%; overflow:hidden; padding:21px 0 0 0;}
.extra-link a{ display:block; float:right; color:#7e7b76; font-size:13px; line-height:15px;}
.column_separator{ background:url(../images/content_border-1.gif) 0 0 repeat-y;}
.article-title{ padding:17px 0 0 31px;}


#left .wrapper-box .boxIndent{ padding:40px 11px 30px 0 !important;}
.link-3{ color:#df4724; text-decoration:none; font-size:18px; font-weight:normal; line-height:24px;}
.link-3:hover{ color:#21201f; text-decoration:underline;}
.article-text-indent{ padding:8px 25px 30px 31px;}
.indent-top-bottom{ padding:25px 0 0 0 !important;}

url(../images/wrapper_site-1.jpg) center top no-repeat;


/* Drop-down menu */

.ulwrapper  {
	display: none;
    position:absolute;
	background:url(../images/menu_bg_bottom.png) bottom left no-repeat;
	padding:0 0 4px 0;
	z-index:350;
	margin:32px 0 0 0 !important;
	*margin:32px 0 0 -107px !important;
	
	
}
.ulwrapper ul{ background:url(../images/menu_bg_top.png) 0 0 no-repeat; padding:4px 0 0 0 !important; margin:0 !important; width:140px; position:relative;}
.ulwrapper ul li{ width:140px;}
.parent .ulwrapper ul li, .parent .ulwrapper ul li a, .parent .ulwrapper ul li a span{
	float:none !important;
	height:auto !important;
	background:#21201f !important;
	color:#ffffff !important;
	font-size:12px;
	line-height:16px !important;
	font-weight:normal !important;
	
 }
.parent .ulwrapper ul li a span{ padding:0 0 0 25px !important;  display:block  !important; font-weight:normal !important;}

.ulwrapper ul li a{ padding: 5px 0 5px !important;}
.ulwrapper ul li a:hover{ background:#d73d1f !important; color:#FFF !important; display:block}
.ulwrapper ul li a:hover span{ color:#FFF !important; background:#d73d1f !important; }




/* EOF Drop-down menu */
.container-indent{ padding:20px 0 0 0;}
.img-none1{ display:none;}